.app {
  width: 320px;
  margin: auto;
  padding: 30px;
}

.container {
  background: #eee;
  color: #222;
  padding: 50px 10px;
  border-radius: 2px;
  border: 1px solid white;
  position: relative;
  min-height: 200px;
}

 /* Header */
.container-header {
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.container-header-add_button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6em;
  line-height: 1.6em;
  text-decoration: none;
  text-transform: none;
  padding: 0 10px;
  color: #222;
}

/* Footer */
.container-footer {
  position: absolute;
  padding: 10px;
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ddd;
}
